# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\바탕화면\빅데이터\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
